html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.App {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

@font-face {
  font-family: "Figtree-Regular";
  src: url("assets/fonts/Figtree-Regular.ttf");
}

@font-face {
  font-family: "Figtree-SemiBold";
  src: url("assets/fonts/Figtree-SemiBold.ttf");
}

@font-face {
  font-family: "Figtree-Bold";
  src: url("assets/fonts/Figtree-Bold.ttf") format("truetype");
}
