@font-face {
  font-family: 'Figtree-Regular';
  src: url('assets/fonts/Figtree-Regular.ttf');
}

@font-face { 
  font-family: 'Figtree-SemiBold';
  src: url('assets/fonts/Figtree-SemiBold.ttf');
}

@font-face {
  font-family: 'Figtree-Bold';
  src: url('assets/fonts/Figtree-Bold.ttf') format('truetype');
}
