.carouselWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
  @media (max-width: 414px) {
    height: 220px;
  }
  @media (min-width: 1281px) {
    height: 480px;
  }
  @media (min-width: 2000px) {
    height: 580px;
  }
  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.carouselContainer {
  & span {
    display: none;
  }
}
